NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

NEXT_PUBLIC_LIVEKIT_URL=ws://localhost:7880
LIVEKIT_SERVER_URL=http://livekit:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

LIVEKIT_EGRESS_LAYOUT=speaker-dark

RECORDING_S3_ACCESS_KEY=
RECORDING_S3_SECRET_KEY=
RECORDING_S3_REGION=us-east-1
RECORDING_S3_ENDPOINT=http://minio:9000
RECORDING_S3_BUCKET=livekit-recordings
RECORDING_S3_FORCE_PATH_STYLE=true
